<div class="form-group row question-item" id="{{id}}">
  <label class="col-sm-5 col-form-label">{{id}} {{question}}</label>
  <div class="col-sm-2">
    <input type="text" class="form-control">
  </div>
</div>