<div class="form-group row level-{{level}}" id="{{id}}">
  <label class="col-sm-8 col-form-label">{{question}}</label>
  <div class="col-sm-4">
    <input type="text" class="form-control">
  </div>
</div>