<div class="level l1">
  {{#each questions}}
  {{>question.item this}}
  {{#areSubquestions this}}
  <div class="level l2">
    {{#each this.subquestions}}
    {{>question.item this}}
    {{#areSubquestions this}}
    <div class="level l3">
      {{#each this.subquestions}}
      {{>question.item this}}
      {{/each}}
    </div>
    {{/areSubquestions}}
    {{/each}}
  </div>
  {{/areSubquestions}}
  {{/each}}
</div>